<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Word Battlr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>

  	<center><h1><div><span class="rainbow">Word Battlr</span></div></h1></center>

	<form>
		<div id = "word1">
			<div class="formcolor">First Word:</div><br>
			<input type="text" name="firstword">
		</div>
	
		<div id = "word2">
		<div class="formcolor">Second Word:</div><br>
		<input type="text" name="secondword">
		<br>
		<br>
		</div>
		<div class="submitbutton"><input type="submit" value="Submit"></center></div>
	</form>
	


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>